## SQLite и Pandas

Сегодня мы поработаем над тем как извлекать данные из базы данных SQLite. Для начала импортируем нужные нам библиотечки.

In [20]:
import sqlite3
import pandas as pd

Напоминаю, что "библиотека" в питоне -- это просто .py-файлики, содержащие наборы функций и объектов, которые можно просто извлекать и использовать. 

Импортировав две библиотеки выше мы добавили их в нашу рабочую среду и теперь они готовы к использованию. 

Вы можете написать свои библиотеки для конкретных повторяющихся задач. Иногда это удобно. Иногда нет.

In [21]:
# Создаем коннектор к файлу нашей базы данных. 
# Само собой, файлик Базы Данных должен лежать рядом с файлом блокнота (который вы сейчас читаете). 
con = sqlite3.connect('DBname-Copy1.db')

In [22]:
# Не спрашивайте
cur = con.cursor()

In [23]:
# Таким образом исполняется запрос к Базе Данных. 
# Здесь Python передает предложение SELECT в СУБД (в данном случае это библиотечка sqlite3) и выполняет его, а возвращает набор данных из таблицы (результат работы SELECT)

cur.execute('SELECT * FROM EmployeePoint').fetchall()

[('Маша', 5, '2020-01-01'),
 ('Петя', 4, '2020-01-01'),
 ('Вася', 3, '2020-01-01'),
 ('Саша', 4, '2020-01-01'),
 ('Маша', 4, '2020-01-02'),
 ('Петя', 4, '2020-01-02'),
 ('Вася', 4, '2020-01-02'),
 ('Саша', 5, '2020-01-02'),
 ('Маша', 5, '2020-01-03'),
 ('Петя', 3, '2020-01-03'),
 ('Вася', 2, '2020-01-03'),
 ('Саша', 5, '2020-01-03'),
 ('Маша', 3, '2020-01-04'),
 ('Петя', 3, '2020-01-04'),
 ('Вася', 3, '2020-01-04'),
 ('Саша', 3, '2020-01-04'),
 ('Максим', 2, '2020-01-04'),
 ('Маша', 5, '2020-01-05'),
 ('Петя', 3, '2020-01-05'),
 ('Вася', 3, '2020-01-05'),
 ('Саша', 3, '2020-01-05'),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', ''),
 ('', '', '')]

In [32]:
# Можно выполнять и более сложные селекты

cur.execute("""

Select count (distinct Employee) from EmployeePoint


""").fetchall()

[(6,)]

In [29]:
#Получилось 6, так как сверху случайно видим дополнительную 6 пустую строчку, так как нажала лишний раз в SQL при вводе данных

In [33]:
cur.execute("""

Select Employee, count(*) from EmployeePoint
where Point = 5
group by Employee
order by count(*)

""").fetchall()

[('Саша', 2), ('Маша', 3)]